/* NAVBAR */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #333;
  cursor: pointer;
  height: 3rem;
  align-items: center;
}
.navbar .links {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}

.navbar .links:hover {
  color: red;
}

/* BODY */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ccc;
}

body .welcome {
  margin-top: 12rem;
  text-align: center;
  font-size: larger;
}

/* ROUTINES */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .searchbar {
  margin: 20px;
  /* background-color: #333; */
  padding: 10px;
}

.content .searchbar .search-bar-main .search-bar input {
  height: 24px;
}

.content .searchbar .search-bar-main .search-bar .search-button {
  cursor: pointer;
  color: white;
  background-color: #333;
  height: 29px;
}

.routine {
  background-color: #333;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* ACTIVITY */

.activity {
  background-color: grey;
}
.content {
  margin-right: 20rem;
  margin-left: 10rem;
}

/* LOGIN/SIGNUP */

.login-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.login-container .usernameLogin {
    margin-bottom: 1rem;
}

.login-container .usernameLogin label {
    margin-right: 1rem;
}

.login-container .passwordLogin {
    margin-bottom: 1rem;
}

.login-container .passwordLogin label {
    margin-right: 1rem;
}

/* REGISTER */

.container .registerUsername label {
    margin-right: 1rem;
}
